.loginContent {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.landingpageContainer {
  margin-top: 8%;
  background-attachment: fixed;
  color: white;
}

.landingpageContainer img {
  width: 50%;
}

.signupButton {
  color: black;
  background-color: white;
  border-color: white;
}

.signupButton:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.signupContainer {
  display: flex;
  align-items: baseline;
  gap: 20px;
  flex-wrap: wrap;
}

.landingpageParagraph {
  text-align: center;
  margin: 40px auto;
}

@media (max-width: 575px) {
  .landingpageContainer img {
    display: grid;
    margin: 0px auto;
  }
}

@media (max-width: 375px) {
  .signupContainer {
    gap: unset;
    margin-top: 20px;
  }
}
