.modal {
  color: black;
  font-family: "Poppins", sans-serif;
}

.signupButton {
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  border: solid white;
  color: white;
}

.signupButton:hover {
  border: solid transparent;
  background: linear-gradient(to left top, #d22f8c, #fc782e),
    linear-gradient(to left top, #d22f8c, #fc782e);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: white;
}

.closeButton {
  color: black;
}
