.modal {
  color: black;
  font-family: "Poppins", sans-serif;
}

.button {
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  border: solid white;
  color: white;
}

.button:hover {
  background: transparent;
  border-color: black;
  color: black;
}

.closeButton {
  color: black;
}
