.userPostHeading {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 50px auto;
}

.userPostContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.userPostContent {
  display: contents;
}

.userPostLink {
  color: black;
  text-decoration: none;
}

.userPostLink:hover {
  opacity: 0.6;
  color: black;
}

.userPostBody {
  display: grid;
  align-items: end;
  grid-template-rows: 1fr;
}

.userPostTitle {
  display: flex;
  font-size: 100%;
}
.userPostButton {
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  border: solid white;
  color: white;
}

.userPostButton:hover {
  border: solid transparent;
  background: linear-gradient(to left top, #d22f8c, #fc782e),
    linear-gradient(to left top, #d22f8c, #fc782e);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: white;
}

@media (max-width: 991px) {
  .userPostContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .userPostContainer {
    grid-template-columns: unset;
  }

  .userPostHeading {
    display: grid;
    gap: 0px;
  }
}

@media (max-width: 400px) {
  .userPostHeading {
    margin: 30px auto;
  }
}
