.userFollowContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.userFollowHeading {
  text-align: center;
  margin: 50px;
}

.userFollowContent {
  display: contents;
}

.userFollowCard {
  align-items: center;
  padding-top: 20px;
}

.userFollowLink {
  color: black;
  text-decoration: none;
}

.userFollowLink:hover {
  opacity: 0.6;
  color: black;
}

.userFollowImg {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.userFollowBody {
  display: grid;
  align-items: end;
  padding: 10px 10px 0px 10px;
}

.userFollowTitle {
  font-size: 100%;
}
