.userInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  gap: 40px;
}

.userInfoAvatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-self: end;
}

.userInfoContent {
  align-self: center;
}

.userInfoContent h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: left;
}

.userInfoLink {
  display: grid;
  gap: 10px;
}

.userInfoButton {
  width: fit-content;
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: underline;
  padding: 0px;
}

.userInfoButton:hover {
  background-color: transparent;
  color: black;
  opacity: 0.6;
  text-decoration: none;
}

@media (max-width: 575px) {
  .userInfoBanner {
    height: 100px !important;
  }
  .userInfoContainer {
    grid-template-columns: unset;
  }
  .userInfoAvatar {
    justify-self: center;
  }

  .userInfoContent {
    text-align: center;
  }

  .userInfoContent h1 {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .userInfoContainer {
    margin: 30px auto;
  }
}
