.footer {
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  color: white;
  padding: 20px;
  display: grid;
  margin-top: 20px;
}

.footerLink {
  color: white;
  text-decoration: none;
}

.footerLink:hover {
  font-size: 105%;
  color: white;
}

@media (max-width: 375px) {
  .footer {
    justify-items: center;
  }
}
