.listOfPostsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.listOfPostsContent {
  display: contents;
}

.listOfPostsLink {
  color: black;
  text-decoration: none;
}

.listOfPostsLink:hover {
  color: gray;
}

.listOfPostsImg {
  width: 100%;
}

.listOfPostsImg:hover {
  opacity: 0.6;
}

.listOfPostsBody {
  display: grid;
  align-items: end;
}

.postListTitle {
  display: flex;
  font-size: 100%;
}

.postListIcons {
  margin-left: auto;
  gap: 10px;
  display: flex;
}
