.profileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  gap: 20px;
}

@media (max-width: 575px) {
  .profileBanner {
    height: 100px !important;
  }

  .profileContainer {
    grid-template-columns: unset;
  }

  .profileContainer img {
    margin: 0px auto;
  }

  .profileInfo {
    margin: 0px auto;
    text-align: center;
  }
}
.profileContainer img {
  width: 50%;
  margin-left: auto;
  align-self: center;
}

.profileInfo {
  align-self: center;
}

.profileInfo h1 {
  text-transform: capitalize;
}

.followButton {
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  align-self: center;
  padding: 5px 20px;
  border: solid white;
  color: white;
  text-decoration: none;
  margin-left: auto;
}

.followButton:hover {
  border: solid transparent;
  background: linear-gradient(to left top, #d22f8c, #fc782e),
    linear-gradient(to left top, #d22f8c, #fc782e);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: white;
}

/* @media (max-width: 579px) {
  .profileContainer {
    grid-template-columns: unset;
  }
} */
