.specificProfilePostsHeading {
  text-align: center;
  margin: 50px;
}

.specificProfilePostsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.specificProfilePostsContent {
  display: contents;
}

.specificProfilePostsImg:hover {
  opacity: 0.6;
}

.specificProfilePostsBody {
  display: grid;
  align-items: end;
}

.specificProfilePostsTitle {
  font-size: 100%;
}

@media (max-width: 992px) {
  .specificProfilePostsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .specificProfilePostsContainer {
    grid-template-columns: 1fr;
  }
}
