.postReactionContainer {
  max-width: 1100px;
  margin: 0px auto;
  width: 100%;
}

.postReactionButton {
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  border: solid white;
  color: white;
}

.postReactionButton:hover {
  border: solid transparent;
  background: linear-gradient(to left top, #d22f8c, #fc782e),
    linear-gradient(to left top, #d22f8c, #fc782e);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: white;
}

@media (max-width: 768px) {
  .postReactionContainer {
    max-width: 200px;
    margin: unset;
  }
}

@media (max-width: 500px) {
}
